
<div class="container-fluid" style="font-family: 'Times New Roman', Times, serif">
        
    <div class="container py-3">
    <div class="text-center py-2 text-light rounded shadow " style="background-image: linear-gradient(15deg, #E55D87 0%, #5FC3E4 100%);">
        
        <h2>CUSTOMER LIST</h2>
    </div>
    <div class="row p-2 justify-content-around">
            <div *ngFor="let customer of result" class="col-sm-3 m-3 bg-c-lite-green user-profile shadow " style="border-radius: 3%;">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25"> <img src={{host_url+customer.imgurl}} class="img-radius img-fluid" alt="User-Profile-Image"> </div>
                        <h6 class="f-w-600">{{customer.name}}</h6>
                        <p>OCCUPATION</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                        <button type="button" class="btn btn-rounded btn-outline-danger shadow" data-mdb-ripple-color="dark" (click)="goTocustomer(customer.email)">
                               VIEW PROFILE
                     </button>
                    </div>
                </div>
               
    </div>
    


    
</div>
