<div class="text-center p-2 maindiv " >
        <div class="text-center py-2 text-light rounded shadow mb-2 " style="background-image: linear-gradient(15deg, #E55D87 0%, #5FC3E4 100%);">
        
                <h2 class="text-warning" style="font-family: 'Times New Roman', Times, serif">BASIC BANKING APP</h2>
            </div>
       <div class="homeinfo d-flex justify-content-center px-4 align-items-center flex-column">

            <div class=" p-3 my-2 "  style="border-radius: 5%">
                    <div class="row justify-content-center">
                            <h1 class="text-white"  style="font-family: 'Times New Roman', Times, serif; color: navy"><b>SPARKS FOUNDATION</b> </h1>
                          
                            
                        </div> 
                        <div class="row justify-content-center">
                              
                                <h1 class="text-white" style="font-family: 'Times New Roman', Times, serif;color: navy"><b> WEB DEVELOPMENT TASK 1</b> </h1>
                                
                            </div> 
                        <div class="row justify-content-center ">
                                <h4 class="text-white" style="font-family: 'Times New Roman', Times, serif"><span class="text-warning">sumbitted by :</span>  MASOOM KONWAR </h4>
                            </div> 
                            <div class="row justify-content-center">
                                    <h4 class="text-white" style="font-family: 'Times New Roman', Times, serif"><span class="text-warning">email :</span> msmkonwar@gmail.com</h4>
                                </div>
                               
            </div>
           

       </div>

            
    <div class="container p-2">
            <div class="row justify-content-center my-1 p-2">
           <div class="col-md-3 m-1 p-0 shadow card" style="background : linear-gradient( #2b5876, #4e4376);">

           
                <img src="../../assets/customer.jpg" alt="customerIcon" class="img-fluid img-rounded" style="height: 10rem">
                <a routerLink="/customers" class="btn btn-outline-warning btn-rounded " style="text-decoration: none">go to customers</a>
   
           </div>
           <div class="col-md-3 m-1 p-0 shadow card" style="background : linear-gradient( #348F50, #56B4D3);">

               
                    <img src="../../assets/transactions.jpg" alt="customerIcon" class="img-fluid" style="height: 10rem">
                    <a routerLink="/customers" class="btn btn-outline-danger btn-rounded " style="text-decoration: none">Make a Transaction</a>
       
               </div>
               <div class="col-md-3 m-1 p-0 shadow card" style="background : linear-gradient( #2b5876, #4e4376);">

                        <img src="../../assets/trasaction_history.jpg" alt="customerIcon" class="img-fluid" style="height: 10rem">
                        <a routerLink="/transactions" class="btn btn-outline-success btn-rounded " style="text-decoration: none">Transaction History</a>
          
           
                   </div>
          
       </div>
       </div>
    
   

</div>
